$color-white-c9: #FFFFFFC9
$color-white: #FFFFFF
$color-black: #000000
$color-grey: #3C3C3C
$color-grey-26: #3C3C3C26
$color-grey-light: #707070
$color-grey-lighter: #F0F1F1
$color-brown: #5E5322
$color-transparent: #00000000
$color-yellow: #FAD648
$color-grey-dark: #737373
$color-black-deep: #1A1818