$color-white-c9: #ffffffc9;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #3c3c3c;
$color-grey-26: #3c3c3c26;
$color-grey-light: #707070;
$color-grey-lighter: #f0f1f1;
$color-brown: #5e5322;
$color-transparent: #00000000;
$color-yellow: #fad648;
$color-grey-dark: #737373;
$color-black-deep: #1a1818;