@import "./settings/normalize";
@import "./settings/fonts";
@import "./settings/colors";

html,
body {
  font-size: 16px;
  position: relative;
}

* {
  font-family: Open Sans;
}

.bg {
  background: transparent url("styles/images/Home-Hero-Image.jpg") 0% 0%
    no-repeat padding-box;
  height: 100vh;
  width: 100vw;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  background-color: white;

  .auth_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    a {
      margin-top: 37px;
      width: 80px;
      height: 42px;
      border: 0.75px solid #3c3c3c;
      text-align: center;
      margin-left: 5px;
      text-decoration: none;
      display: block;
      line-height: 42px;
    }
    a:first-child {
      border: none;
    }

    a:last-child {
      border: 0.75px solid #fad648;
      margin-right: 142px;
    }
  }

  .nav_links {
    display: flex;
    align-items: center;
    list-style: none;

    a {
      width: 145px;
      height: 42px;
      text-align: center;
      margin-left: 5px;
      text-decoration: none;
      display: block;
      line-height: 42px;
      &.active {
        border: 0.75px solid #3c3c3c;
      }
      &:not(.active) {
        border: none;
      }
    }
    a:last-child {
      margin-right: 142px;
    }
  }
}

.header {
  display: flex;
  align-items: center;

  .text-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

    h1 {
      width: 674px;
      height: 107px;
      margin-bottom: 20px;
      margin-right: 275px;
      letter-spacing: -0.76px;
      text-align: center;
      margin-top: 210px;
    }

    .decoration-img {
      display: block;
      margin: 25px auto 0;
      width: 100px;
      height: 50px;
    }
  }

  .buttons {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;

    button {
      width: 310px;
      height: 120px;
      border: 0.75px solid #3c3c3c;
      background-color: transparent;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-right: 278px;
      }
      span {
        font-size: 16px;
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}

.login {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 100vh;
  width: 100vw;
  .login_body {
    display: flex;
    justify-content: center;
    .login_box {
      margin-top: 296px;
      width: 385px;
      height: 235px;
      background: #f0f1f1 0% 0% no-repeat padding-box;
    }
  }
}
