@import "./settings/normalize";
@import "./settings/fonts";
@import "./settings/colors";

html,
body {
  font-size: 16px;
  position: relative;
}

* {
  font-family: Open Sans;
}

.bg {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bg_image {
  background: transparent url("styles/images/Home-Hero-Image.jpg") 0% 0%
    no-repeat padding-box;
  background-size: cover;
  top: 0px;
  left: -483px;
  width: 1368px;
  height: 963px;
  position: absolute;
  z-index: -1;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  background-color: white;

  .auth_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    a {
      margin-top: 37px;
      width: 80px;
      height: 42px;
      border: 0.75px solid #3c3c3c;
      text-align: center;
      margin-left: 5px;
      text-decoration: none;
      display: block;
      line-height: 42px;
    }
    a:first-child {
      border: none;
    }

    a:last-child {
      border: 0.75px solid #fad648;
      margin-right: 142px;
    }
  }

  .nav_links {
    display: flex;
    align-items: center;
    list-style: none;

    a {
      width: 145px;
      height: 42px;
      text-align: center;
      margin-left: 5px;
      text-decoration: none;
      display: block;
      line-height: 42px;
      &.active {
        border: 0.75px solid #3c3c3c;
      }
      &:not(.active) {
        border: none;
      }
    }
    a:last-child {
      margin-right: 142px;
    }
  }
}

.header {
  display: flex;
  align-items: center;

  .text-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

    h1 {
      width: 674px;
      height: 107px;
      margin-bottom: 20px;
      margin-right: 275px;
      text-align: center;
      font: normal normal normal 38px/55px Open Sans;
      letter-spacing: -0.76px;
      color: #3c3c3c;
      text-align: center;
      margin-top: 210px;
    }

    .decoration-img {
      display: block;
      margin: 25px auto 0;
      width: 253px;
      height: 33px;
    }
  }

  .buttons {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;

    button {
      width: 310px;
      height: 120px;
      border: 0.75px solid #3c3c3c;
      background-color: transparent;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-right: 278px;
      }
      span {
        font-size: 16px;
        display: inline-block;
        padding: 0 5px;
        text-align: center;
        font: normal normal 300 36px/45px Open Sans;
        letter-spacing: 0px;
      }
    }
  }
}

.login {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 100vh;
  width: 100vw;
  .login_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .login_text {
      margin-top: 123px;
      text-align: center;
      font: normal normal normal 40px/55px Open Sans;
    }
    .login_box {
      margin-top: 20px;
      width: 385px;
      height: auto;
      background: #f0f1f1 0% 0% no-repeat padding-box;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .form2 {
        width: 100%;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;

          label.label-form {
            margin-bottom: 10px;
            align-self: flex-start;
            margin-left: 58px;
          }
          input {
            display: block;
            width: 250px;
            padding: 10px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .btns {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 542px;
      margin-top: 40px;
      button {
        width: 117px;
        height: 50px;
        border: 0.75px solid #3c3c3c;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        &.signup {
          border: 1px solid black;
        }
        &.submit {
          border: none;
        }
      }
    }
  }
}
.stats {
  width: 100%;
  height: 384px;
  background-image: url("styles/images/3 Columns Background.png");
  .stats_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .statistic {
    flex: 1;
    text-align: center;
    padding: 0 10px;
    .number {
      text-align: center;
      font: normal normal 300 90px/122px Open Sans;
      letter-spacing: 0px;
    }
    .stat_name {
      text-align: center;
      font: normal normal normal 18px/30px Open Sans;
      letter-spacing: -0.36px;
      color: #3c3c3c;
    }
    .stat_desc {
      text-align: center;
      font: normal normal 300 16px/18px Merriweather;
      letter-spacing: -0.32px;
      color: #3c3c3c;
    }
  }
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 199px;
  width: 100%;
  margin-top: 55px;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .steps_header {
      font-size: 38px;
      letter-spacing: -0.76px;
      color: #3c3c3c;
      margin-bottom: 25px;
    }
    .decoration {
      width: 253px;
      height: 33px;
      background: url("../styles/images/Decoration.svg") no-repeat center center;
    }
  }
}
.steps_icons_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f0f1f1;
  height: 325px;
  .steps_icon_conteiner {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .icon {
      margin-bottom: 10px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .icon_header {
      margin-bottom: 10px;
    }
    .icon_line {
      width: 80%;
      height: 1px;
      background-color: #3c3c3c;
      margin-bottom: 10px;
    }
    .icon_description {
      // Styles for the description
    }
  }
}
.btn_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 235px;
  width: 100%;
  button {
    width: 310px;
    height: 120px;
    border: 0.75px solid #3c3c3c;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 16px;
      display: inline-block;
      padding: 0 5px;
      text-align: center;
      font: normal normal 300 36px/45px Open Sans;
      letter-spacing: 0px;
    }
  }
}
.about {
  height: 935px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left,
.right {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f1f1;
  height: 935px;
}
.left h1 {
  margin-bottom: 10px;
}
.left .decoration {
  margin-bottom: 20px;
}
.right img {
  max-width: 100%;
  height: 935px;
}
.cause {
  height: 1012px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.cause h2 {
  text-align: center;
  font: normal normal normal 38px/55px "Open Sans", sans-serif;
  letter-spacing: -0.76px;
  color: #3c3c3c;
  margin-bottom: 25px;
}

.decoration {
  width: 253px;
  height: 33px;
  margin-bottom: 50px;
}

.buttons button {
  width: 208px;
  height: 79px;
  border: 0.75px solid #3c3c3c;
  margin: 10px; /* You can adjust this margin as needed for spacing between buttons */
}

.cause p {
  text-align: center;
  font: normal normal normal 22px/30px "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #3c3c3c;
  margin-top: 70px;
}

.cause-columns {
  width: 1344px;
  display: flex;
  flex-direction: column;
  margin-top: 66px;
}

.cause-segment {
  display: flex;
  justify-content: space-between;
  height: 81px;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
}

.cause-left,
.cause-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cause-left h3 {
  /* You can add specific styles for the titles here if needed */
}
.cause-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  gap: 20px; /* Adjust this value if you want more or less spacing between the buttons */
}

.cause-button-group button {
  /* Style your buttons here if needed */
}
.cause,
.contact-section {
  justify-content: flex-start; /* Align content to start from the top */
}

.contact-section {
  height: 1026px;
  width: 100%; /* Ensure it takes up the full width of the viewport */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 142px;
  position: relative; /* This is to position the pseudo-element relative to this section */
}

/* Add the pseudo-element to give opacity only to the background image */
.contact-section::before {
  content: "";
  background-image: url("styles/images/Background-Contact-Form.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* 50% opacity for the image */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* This ensures the pseudo-element covers the entire section */
  z-index: -1; /* To make sure it stays behind the content */
}

.contact-section h2 {
  text-align: center;
  font: normal normal normal 38px/55px "Open Sans", sans-serif;
  letter-spacing: -0.76px;
  color: #3c3c3c;
  margin-bottom: 25px;
}

.contact-decoration {
  /* Insert your SVG decoration styles here */
  width: 253px; /* Example width */
  height: 33px; /* Example height */
  margin-bottom: 70px;
}

.contact-form {
  width: 528px;
  height: 327px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* adjust as needed for spacing between form elements */
}

.contact-form label {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border: none;
  border-bottom: 2px solid #3c3c3c; /* underline style */
  background: transparent;
  outline: none;
  width: 50%; /* adjust as needed */
}

.contact-form textarea {
  height: 100px; /* adjust as needed */
  margin-top: 44px;
  resize: none; /* disables user resizing */
}

.contact-form button {
  align-self: flex-end; /* positions the button to the right */
}
